RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^css/(.*)$ css/$1 [L,QSA]
RewriteRule ^gfx/(.*)$ gfx/$1 [L,QSA]
RewriteRule ^js/(.*)$ js/$1 [L,QSA]
RewriteRule ^lib/(.*)$ lib/$1 [L,QSA]
RewriteRule ^.*$ index.php [NC,L]
Options -Indexes